.foo {
  /* @TODO: vary of color */
  display: flex;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-s);
  background-color: var(--color-secondary);
  border-radius: 5px;
  color: var(--color-white);

  font-size: var(--font-size-s);

  transition: var(--pace-normal) var(--ease-in-out) background-color;
}

.foo:hover,
.foo:focus {
  /* background-color: var(--color-secondary-lighter); */
}

.foo__label {
  margin: 0 var(--spacing-xxs) 0 0;
}
.foo__remove {
  width: var(--spacing-m);
  height: var(--spacing-m);
  transform: rotate(-45deg);
}
