.filter__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.filter__item {
  list-style-type: none;
  margin: var(--spacing-l) var(--spacing-xs);
  transition: var(--pace-normal) var(--ease-in-out) transform;
}

.filter__item:nth-of-type(1) {
  transform: rotate(-3deg);
}
.filter__item:nth-of-type(2) {
  transform: rotate(-2deg);
}
.filter__item:nth-of-type(3) {
  transform: rotate(-1deg);
}
.filter__item:nth-of-type(4) {
  transform: rotate(-2deg);
}
.filter__item:nth-of-type(5) {
  transform: rotate(-1deg);
}
.filter__item:nth-of-type(7) {
  transform: rotate(-2deg);
}
.filter__item:nth-of-type(8) {
  transform: rotate(-3deg);
}
.filter__item:nth-of-type(9) {
  transform: rotate(-1deg);
}
.filter__item:nth-of-type(10) {
  transform: rotate(-2deg);
}

.filter__item:hover,
.filter__item:focus {
  cursor: pointer;
  transform: rotate(0);
}
