.teaser-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: var(--spacing-xl);
  padding: var(--spacing-xl);
}

/* @media (min-width: var(--breakpoint-m)) { */
@media (min-width: 750px) {
  .teaser-list {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}
