:root {
  --color-primary: PowderBlue;
  --color-secondary: DarkSlateBlue;
  --color-white: #fff;
  --color-black: #000;

  --spacing-xxxl: 2.5rem;
  --spacing-xxl: 2rem;
  --spacing-xl: 1.7rem;
  --spacing-l: 1.3rem;
  --spacing-m: 1rem;
  --spacing-s: 0.7rem;
  --spacing-xs: 0.5rem;
  --spacing-xxs: 0.3rem;
  --spacing-xxxs: 0.1rem;

  --pace-fast: 0.2s;
  --pace-normal: 0.35s;
  --pace-slow: 0.6s;
  --pace-slower: 1s;

  --delay-long: 0.65s;
  --delay-default: 0.4s;
  --delay-short: 0.2s;
  --delay-stagger: 0.05s;

  --ease-in: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  --breakpoint-xs: 360px;
  --breakpoint-s: 480px;
  --breakpoint-m: 768px;
  --breakpoint-l: 1024px;
  --breakpoint-xl: 1366px;

  --constrain-s: 800px;
  --constrain-m: 1200px;
  --constrain-l: 1800px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: auto 1fr;
}
.app__top {
  background: black;
}
.app__top-pull-down {
  transform: translateY(var(--spacing-xxxl));
}

.screen-reader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
}

.article-lines {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 0.5rem;
  margin: 0;
  padding: 2rem;
}
.article-line {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 0.5rem;
}

/* Layout */
.page-item {
  margin: 8rem 0;
  padding: 0;
}
.content-item {
  margin: 2rem 0;
  padding: 0;
}
.text-item {
  margin: 0.7rem 0;
  padding: 0;
}

.constrain--s {
  max-width: var(--constrain-s);
  margin: 0 auto;
}
.constrain {
  max-width: var(--constrain-m);
  margin: 0 auto;
}
.constrain--l {
  max-width: var(--constrain-l);
  margin: 0 auto;
}

/* Default stylings */
button {
  padding: var(--spacing-xs) var(--spacing-s);

  border: 0;
  border-radius: 5px;

  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-secondary);
  color: var(--color-white);
}
